.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: #f5f5f5;
	display: block;
	z-index: 9999;
}
@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamProRegular/GothamProRegular.eot");
	src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
	url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamProBold/GothamProBold.eot");
	src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamProBlack/GothamProBlack.eot");
	src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamProMedium/GothamProMedium.eot");
	src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "GothamPro";
	src: url("../fonts/GothamProLight/GothamProLight.eot");
	src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
:root {
   --accent-color: #41328e;
   --font-family:"GothamPro";
}
::-webkit-scrollbar{width: 8px; height: 8px}
::-webkit-scrollbar-thumb {background: #bbb; cursor: pointer; border-radius: 1px}
::-webkit-scrollbar-track-piece{background: #e6e6e6;cursor: pointer}
::-webkit-scrollbar-corner{background: transparent;border: none}

html {font-size: 18px}

body {
	position: relative;
	color: #6b6b6b;
	font-family: "GothamPro",sans-serif;
	font-size: 18px;
	line-height: 1.3;
	background-color: #f5f5f5;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
.wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 100vh;
}
.wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 50.1%;
	width: 100%;
	max-width: 1206px;
	height: 100%;
	transform: translateX(-50%);
	background: url(../img/lines.png);
	background-size: 16.666664% 34px;
	margin: auto;
}
section {
	width: 100%;
	position: relative;
}
a,a:focus {
	text-decoration:none;
	outline:0;
	color: inherit;
	cursor: pointer;
}
h1 {
	width: 100%;
	padding-bottom: .5em;
}
.h2-box {text-align: center;}

.cliptrapez {
	will-change: clip-path;
	opacity: 1;
   -webkit-clip-path: polygon(0 0,0.2% 0,0 170%,0 170%);
   clip-path: polygon(0 0,0.2% 0,0 170%,0 170%);
}
.cliptrapez.anim-play {animation: 6s cliptrapez cubic-bezier(.19,1,.22,1) .1s forwards;}

@keyframes cliptrapez {
  to { opacity: 1;
   -webkit-clip-path: polygon(0 0,170% 0,100% 170%,0 170%);
   clip-path: polygon(0 0,170% 0,100% 170%,0 170%);}
}
@keyframes move-to-home {
	60% {opacity: 1}
	to { opacity: 1;transform: matrix(1,0,0,1,0,0)}
}
h2 {
	text-align: center;
	padding-bottom: .66em;
	padding-right: .4em;
	margin-left: -.4em;
}
h3 {
	color: var(--accent-color);
	font-weight: 500;
	font-size: 1.55em;
	line-height: 1.04;
	padding-bottom: .3em;
}
h3 + p {font-size: .94em}

.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;
}
.text-center {text-align: center}

.type-box {
	position: relative;
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(1,2,2,.06),0 0 20px rgba(0,0,0,.04);
	padding: 32px 40px 30px 46px;
	border-radius: 5px;
	min-height: 150px;
	margin-bottom: 20px;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}
.scrollable {will-change:transform}
/*=====================
	Header
======================*/
.top:before {
	content: '';
	position: absolute;
	top: 0%;
	left: 0%;
	background: url(../img/big-circle.png) center no-repeat;
	background-size: cover;
	width: 52.83%;
	padding-bottom: 48.1%;
	opacity: .3;
	transform: scale(.02);
	transform-origin:left top;
	animation: 0.9s boom cubic-bezier(.7,.1,.3,1.3) 0.6s forwards;
}
@keyframes boom {
  to { opacity: 1;
   transform: scale(1);}
}
.top:after {
	content: '';
	position: absolute;
	right: -60px;
	top: 562px;
	background: url(../img/wave.png) center no-repeat;
	background-size: cover;
	width: 1049px;
	height: 421px;
	-webkit-clip-path: polygon(0 0,0.2% 0,0 170%,0 170%);
	clip-path: polygon(0 0,0.2% 0,0 170%,0 170%);
	animation: 11s cliptrapez cubic-bezier(.19,1,.22,1) 4.8s forwards;
}
.top__container {
	height: 185px;
	z-index: 5;
}
.logo {
	position: absolute;
	left: 15px;
	top: 76px;
	display: block;
	text-align: center;
	z-index: 4;
}
.logo__link{
	display: inline-block;
	padding: 2px 10px;
}
.top__lang {
	position: absolute;
	right: 77px;
	top: 80px;
	color: var(--accent-color);
	cursor: default;
}
.top__lang span {position: relative}

.top__lang span:before {
	content: '';
	top: 7px;
	left: -21px;
	position: absolute;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-top: 6px solid currentColor;
}
.lang__list {
	display: block;
	position: absolute;
	right: -19px;
	top: -12px;
	padding: 30px 20px 9px 35px;
	background-color: #f9f9f9;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	opacity: 0;
	transition: .2s cubic-bezier(.4,0,.2,1);
	visibility: hidden;
}
.top__lang:hover .lang__list {
	opacity: 1;
	padding: 35px 20px 9px 35px;
	visibility: visible;
}
.lang__list a {
	display: block;
	color: inherit;
	padding-top: 5px;
	margin-top: 5px;
	transition: .3s;
}
.lang__list a:hover{opacity: .8}

/*==========================
	intro-section
===========================*/
.s-intro {padding-bottom: 280px}

.intro__main {padding-top: 59px}

.intro__main:after {
	content: '';
	position: absolute;
	top: 92px;
	right: -24px;
	background: url(../img/coin2.png) center no-repeat;
	background-size: cover;
	width: 197px;
	height: 208px;
	opacity: 0;
	animation: 1.6s op 2.5s forwards
}
.s-intro .type-box {
	float: left;
	min-width: 405px;
	max-width: 590px;
	box-shadow: 5px 10px 20px -5px rgba(1,2,2,.06),-16px 10px 26px rgba(1,2,2,.04);
	padding: 32px 38px 30px 48px;
	transform: rotate(70deg);
	transform-origin: -50px center;
	opacity: 0;
	/*animation: 1s move-to-home cubic-bezier(.7,.2,.29,1.34) 4s forwards;*/
	/*animation: 0.6s move-to-home cubic-bezier(.175,.685,.28,1.27) 4s forwards*/
	animation: 0.8s move-to-home cubic-bezier(.7,.16,.3,1.18) 4s forwards
}
.s-intro .type-box:nth-of-type(1){
	margin-left: 84px;
	margin-right: -76px;
}
.s-intro .type-box:nth-of-type(2){
	margin-left: 76px;
	animation-delay: 4.2s
}
.s-intro .type-box:nth-of-type(3){animation-delay: 4.4s}

.s-intro .type-box:before {
	content: '';
	position: absolute;
	top: 50%;
	left: -70px;
	margin-top: -20px;
	width: 40px;
	height: 40px;
	background: url(../img/point.png) no-repeat;
	background-size: cover;
	box-shadow: 36px 0 20px -7px rgba(1,2,2,.04);
	border-radius: 50%
}
.s-intro .type-box:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -16px;
	border-bottom: 16px solid transparent;
	border-top: 16px solid transparent;
	border-right: 18px solid #fff;
}
.intro__remark {
	display: inline-block;
	position: relative;
	min-width: 100%;
	overflow: hidden;
	color: #41328e;
	font-size: 3.3333em;
	font-weight: 300;
	font-style: normal;
	line-height: .8;
	text-transform: uppercase;
}
.intro__remark span {
	background: -webkit-linear-gradient(0deg,#41328e 0%,#1b9e8c 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 0;
}
h1,h2 {
	font-size: 6.6666em;
	font-weight: 900;
	line-height: .84;
	text-transform: uppercase;
	overflow: hidden;
	display: inline-block;
	color: #41328e;
}
h1 > span,h2 > span {
	display: inline-block;
	position: relative;
	min-width: 100%;
}
h1 > span > span,h2 > span > span {
	background: -webkit-linear-gradient(0deg,#41328e 0%,#28e696 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	opacity: 0;
}
h1 > span > span{background-size: 365px 100%}

.intro__remark.anim-play span,
h1.anim-play span > span,
h2.anim-play span > span,
h1.anim-play span:nth-of-type(2) > span,
h2.anim-play span:nth-of-type(2) > span {animation: .1s op .95s forwards}

@keyframes op {100% {opacity: 1}}

h1 > span:nth-of-type(1):after,
h2 > span:nth-of-type(1):after,
h1 > span:nth-of-type(3):after,
h2 > span:nth-of-type(3):after{
	content: '';
	position: absolute;
	top: 0;
	bottom: -15px;
	left: -10%;
	right: -10%;
	transform: translateX(100%);
	opacity: .7;
	background-color: #41328e;
	z-index: 2;
}
h1.anim-play span:nth-of-type(1):after{animation: 1.1s reveal-scale-r cubic-bezier(.6,.1,.6,1) 2s forwards;}
h1.anim-play span:nth-of-type(2):after {animation: 1.1s reveal-scale-l cubic-bezier(.6,.1,.6,1) 2.4s forwards;}
h1.anim-play span:nth-of-type(3):after{animation: 1.1s reveal-scale-r cubic-bezier(.6,.1,.6,1) 2.8s forwards;}

.intro__remark:after,
h1 > span:nth-of-type(2):after,
h2 > span:nth-of-type(2):after{
	content: '';
	position: absolute;
	top: 0;
	bottom: -15px;
	right: -10%;
	left: -10%;
	transform: translateX(-100%);
	opacity: .8;
	background-color: #28e696;
	z-index: 2;
}
.intro__remark:after{animation: 1.1s reveal-scale-l cubic-bezier(.6,.1,.6,1) 1.6s forwards;}

h2.anim-play span:nth-of-type(1):after {animation: 1.1s reveal-scale-r cubic-bezier(.6,.1,.6,1) forwards;}
h2.anim-play span:nth-of-type(2):after {animation: 1.1s reveal-scale-l cubic-bezier(.6,.1,.6,1) .6s forwards;}

@keyframes reveal-scale-r {
	0% {transform: translateX(100%);opacity:.7;}
	45% {transform: translateX(0);opacity: 1;}
	75% {transform: translateX(0);opacity: 1;}
	100% {transform: translateX(-100%);opacity:.9;}
}
@keyframes reveal-scale-l {
	0% {transform: translateX(-100%);opacity:.7;}
	45% {transform: translateX(0);opacity: 1;}
	75% {transform: translateX(0);opacity: 1;}
	100% {transform: translateX(100%);opacity:.9;}
}
/*===============================
  h o w
================================*/
.s-how {
	perspective: 600px;
	padding: 90px 0 50px}

.how__screen {
	text-align: center;
	padding-left: 25px;
	padding-bottom: 46px;
}
.how__steps {
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row nowrap;
	min-height: 200px;
	border-radius: 10px;
}
.how__steps li {
	position: relative;
	font-weight: 500;
	color: var(--accent-color);
	padding: 20px 8px;
	max-width: 294px;
	opacity: 0;
}
.how__steps.anim-play li{animation: 1.2s op .3s forwards}

.how__steps li:not(:last-child):after{
	content: '';
	position: absolute;
	top: calc(50% - 15px);
	left: 103%;
	width: 47px;
	height: 32px;
	background: url(../img/arrow.png);
	background-size: cover;
}
/*===============================
  tariffs
================================*/
.s-tariffs {
	position: relative;
	padding: 53px 0 170px;
}
.s-tariffs:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/wave.png) center 76% no-repeat;
	-webkit-clip-path: polygon(0 0,0.2% 0,0 170%,0 170%);
	clip-path: polygon(0 0,0.2% 0,0 170%,0 170%);
}
.s-tariffs.anim-play:before{animation: 15s cliptrapez cubic-bezier(.19,1,.22,1) .8s forwards;}

.tariffs__list {
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}
.tariffs__list li {
	position: relative;
	text-align: center;
	width: 29%;
	max-width: 330px;
	opacity: 0;
	left: -3%;
	transition: .3s;
	/*-webkit-clip-path: polygon(0 0,0.2% 0,0 170%,0 170%);*/
	/*clip-path: polygon(0 0,0.2% 0,0 170%,0 170%);*/
}
.s-tariffs li.anim-play{animation: .8s op cubic-bezier(.19,1,.22,1) .1s forwards;left: 0;}
.s-tariffs li.anim-play:nth-child(2){animation-delay: .3s;}
.s-tariffs li.anim-play:nth-child(3){animation-delay: .6s;}

.tariffs__list b {
	display: block;
	font-size: 2em;
	font-weight: 700;
	line-height: 1.1;
	color: var(--accent-color);
	padding-bottom: .15em;
}
/*========================
 contact - section
=========================*/
.s-contact {
	padding: 140px 0 99px;
	background-color: #fff;
}
.form {
	display: block;
	max-width: 600px;
	padding: 40px 15px;
	text-align: center;
	margin: auto;
	opacity: 0;
	transform: scale(.9);
}
.form.anim-play {animation: 1.2s move-to-home .5s forwards}

.form input {
	display: block;
	width: 100%;
	height: 60px;
	letter-spacing: .02em;
	border: none;
	border-bottom: 2px solid #32312e;
	background: transparent;
	padding-left: 20px;
	padding-right: 15px;
	margin-bottom: 70px;
	transition: border-bottom-color .4s ease;
}
.form input:focus,.form input:hover,.form input:valid{
	border-bottom-color: #3c86b2;
	color: #2a657c;
	outline-color: transparent;
	box-shadow: none;
}
.form input::-webkit-input-placeholder {transition: .25s ease}
.form input:-moz-placeholder {transition: .25s ease}
.form input::-moz-placeholder {transition: .25s ease}
.form input:-ms-input-placeholder {transition: .25s ease}

.form input:focus::-webkit-input-placeholder {opacity: 0; transform: translateY(-11px)}
.form input:focus:-moz-placeholder {opacity: 0; transform: translateY(-11px)}
.form input:focus::-moz-placeholder {opacity: 0; transform: translateY(-11px)}
.form input:focus:-ms-input-placeholder {opacity: 0; transform: translateY(-11px)}

.form input:last-of-type{margin-bottom: 100px}

.form__field {position: relative;}

.form__field svg {
	pointer-events: none;
	position: absolute;
	top: 17px;
	right: 36px;
	transform: translateX(6px);
	opacity: 0;
	transition: .4s;
}
.form input:valid + svg {
	transform: translateX(0);
	opacity: 1;
}
.btn {
	height: 80px;
	width: 100%;
	max-width: 370px;
	margin: auto;
	padding: 30px 45px 28px;
	background-image: linear-gradient(to left,#1fb7ea,#1fb7ea,#3c86b2);
	background-position: right top;
	background-size: 210% 100%;
	border: none;
	border-radius: 6em;
	text-align: center;
	color: #fff;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .12em;
	display: -ms-flexbox;
	display: flex;
	align-self:stretch;
	justify-content: center;
	align-items: center;
	position: relative;
	box-shadow: 14px 20px 18px -6px rgba(32,74,76,.07);
	transition: .35s cubic-bezier(.25,.46,.45,.94);
	/*z-index: 2;*/
}
.btn:hover {background-position: left top}

.btn.is-active {animation: anim-moema 0.38s forwards}

.btn::before {
	content: '';
	position: absolute;
	top: -44px;
	left: -38px;
	bottom: -46px;
	right: -38px;
	background-color: rgba(60,134,178,.36);
	border-radius: 5em;
	z-index: -1;
	opacity: 0;
	transform: scale3d(.7,.62,1);
}
.btn.is-active::before {animation: anim-moema-before 0.51s .01s forwards}

@keyframes anim-moema {
	12% {transform: scale3d(0.98, 0.98, 1)}
	60%,100% {transform: scale3d(1, 1, 1)}
}
@keyframes anim-moema-before {
	10% {opacity: 0;}
	15%{opacity: .26;}
	to {opacity: 0; transform: scale3d(1, .7, 1)}
}
.contact__logo {
	text-align: center;
	padding-top: 92px;
}
.embeatz {
	text-align: center;
	transition: .3s;
}
.embeatz:hover{
	opacity: .7;
	filter: hue-rotate(-73deg);
}
.embeatz span {
	color: var(--accent-color);
	display: inline-block;
	padding-right: 0px;
	margin-left: 9px;
	line-height: 0.8;
	letter-spacing: 0.36em;
	font-weight: 500;
	font-size: 11px;
	text-shadow: 0 0;
}
.embeatz:after {
	content: '';
	display: inline-block;
	background: url(../img/embeatz.svg) no-repeat;
	margin-top: -3px;
	width: 116px;
	height: 70px;
	vertical-align: middle;
}
/*===============================
  popups
================================*/
.mfp-bg {background-color: #f2f2f2}

.mfp-close-btn-in .mfp-close{
	color: var(--accent-color);
	opacity: 1;
	width: 50px;
	height: 50px;
	line-height: 50px;
	right: 20px;
	top: 10px;
	font-size: 34px;
	font-family: var(--font-family);
	transition: .3s;
}
.mfp-close-btn-in .mfp-close:hover{color: #2a657c}

.small-pop-up {
	position: relative;
	width: 100%;
	max-width: 620px;
	background-color: #fff;
	box-shadow: 0 10px 20px rgba(1,2,2,.06),0 0 20px rgba(0,0,0,.04);
	border-radius: 5px;
	margin: auto;
	padding: 70px 30px;
	text-align: center;
}
.small-pop-up p {
	padding-top: 35px;
	font-size: 1.1em;
	line-height: 1.8
}
.cbalink, div[style*="text-align:center"], [style*="font-family:arial"] {display: none!important;}